transformers
torch
numpy
scikit-learn
nltk
py-rouge
bert-score
git+https://github.com/PierreColombo/nlg_eval_via_simi_measures.git
#git+https://github.com/neural-dialogue-metrics/BLEU.git
#git+https://github.com/neural-dialogue-metrics/rouge.git
git+https://github.com/pltrdy/rouge